{% extends 'base.html' %}
{% block content %}
<h1>{{ form.formname }}</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {% for field in form %}
  {% if field.type != 'HiddenField' and field.id != 'csrf_token' %}
  <div class="form-fields">
    {{ field.label }}
    {{ field(size=30) }}
    {% for error in field.errors %}<span style="color: red;">{{ error }}</span>{% endfor %}
  </div>
  {% endif %}
  {% endfor %}
  <br>
  <button type="submit">Submit</button>
</form>
{% if form.errors %}{% endif %}
{% endblock %}
